*.png
*.tif
*.tif.aux.xml
*.zip
*.log
*.nc
*.mat
*.hdf
*.csv
*.html
*.jpg
*.rtf
*.db
hatchfill2_r8
kakearney-boundedline/.gitignore
.ignore
*.swp
*.swo
**/.git*
*.asv
landsymm_lpjg_path.m
isimip3_input_path.m
